.news__col {
  display: table-cell;
}
.news__image {
  height: 150px;
}

.news__image--first {
  background: url('../images/tiger.jpg');
  background-position: center;
  background-size: auto;
}
.news__image--second {
  background: url('../images/book.jpeg');
  background-position: center;
  background-size: auto;
}

.news__image--third {
  background: url('../images/wolf.jpg');
  background-position: center;
  background-size: auto;
}

.news__image--fourth {
  background: url('../images/wolf-2.jpg');
  background-position: center;
  background-size: auto;
}
